$def with( parameters )
$if parameters:
	$ active = parameters[0]["parameters"]
$else:
	$ active = ""

<div class='json-editor'>$active</div>

<form method="POST" role="form" class='btn-toolbar edit-parameters-form'>
	<input type="hidden" name="parameters" id="parameters-hidden" />
	<button type="submit" class="btn btn-primary btn-lg">Update</button>
</form>

<h3>History</h3>

$for parameter in parameters:
	<div class="panel panel-primary">
		<div class="panel-heading">
			$:pretty_ago(parameter["timestamp"])&nbsp;
			<button class="btn btn-xs btn-default pull-right load-button">Load into editor</button>
		</div>
		<div class="panel-body">
			<pre style="border: none">$parameter["parameters"]</pre>
		</div>
	</div>
$if not parameters:
	<p class="alert alert-info">There is no history of parameters.</p>

<link rel="stylesheet" href="$:make_url("/static/css/jsoneditor-min.css")"/>
<script src="$make_url("/static/js/jsoneditor-min.js")"></script>
<script src="$make_url("/static/js/edit_parameters.js")"></script>