$def with( context )
$ signal = context["signal"]

<h2>Edit data signal</h2>

<form name="main" method="post" action="$:make_url("/data_signals/%d/%d" % (signal["generic_signal_id"], signal["record_number"]))"> 
	<input type="hidden" name="variant" value="$signal.variant">

	<p class='alert alert-info'>A new revision will be created, so previously stored data are safe.</p>

	<table>
		<tr>
			<td><label>Note</label></td>
			<td><input name="note" type="text" value="$signal["note"]"  class="form-control" /></td>
		</tr>

		<tr>
			<td><label>Quality</label></td>
			<td>
				$:select(["UNKNOWN", "POOR", "GOOD", "VALIDATED"], signal["data_quality"], name="quality", _class = "form-control")
			</td>
		</tr>

		<tr>
			<td><label>Coefficient levels-&gt;volts</label></td>
			<td>
				<input name="coefficient_lev2V" type="text" class="form-control" value="$signal["coefficient"]"/></td>
			</td>
		</tr>

		<tr>
			<td><label>Offset</label></td>
			<td>
				<input name="offset" type="text" value="$signal["offset"]"  class="form-control" /></td>
			</td>
		</tr>

		<tr>
			<td><label>Coefficient volts-&gt;units</label></td>
			<td>
				<input name="coefficient_V2unit" type="text" value="$signal["coefficient_V2unit"]"  class="form-control" /></td>
			</td>
		</tr>

		<tr>
			<td><label>Time 0 (in ms)</label></td>
			<td>
				<input name="time0" type="text" value="$signal["time0"]"  class="form-control" /></td>
			</td>
		</tr>
	</table>

	<div class='btn-toolbar'>
		<button type="submit" class="btn btn-primary btn-lg">Save changes</button>
	</div>	
</form>