$def with( context )
$ data_signal = context.data_signal
$ generic_signal = context.generic_signal
$ data_source = context.data_source
$ data_file = context.data_file
$ computer = context.computer

<h2>$generic_signal.generic_signal_name : $context.record_number</h2>
$if len(context.variants) > 0:
    <div style="font-size: 1.2em; margin-bottom: 7px"><b>Variants</b>:
    $for variant in context.variants:
        $ variant_label = variant or "default"
        $if not variant == data_signal.variant:
            $:link(variant_label, "?variant=%s" % variant, _class = "revision btn btn-default btn-sm", title="Go to variant %s" % variant_label )
        $else:
            <span class="revision active-revision btn btn-primary btn-sm" title="Current variant">$variant_label</span>
    </div>

$if context.max_revision > 1:
    <div style="font-size: 1.2em; margin-bottom: 7px"><b>Revisions</b>:
    $for rev in range(1, context.max_revision + 1):
        $if not rev == data_signal.revision:
            $:link(rev, "?revision=%d&variant=%s" % (rev, data_signal.variant), _class = "revision btn btn-default btn-sm", title="Go to revision %d" % rev)
        $else:
            <span class="revision active-revision btn btn-primary btn-sm" title="Current revision">$rev</span>
    </div>

<div class='btn-toolbar'>
    $if data_signal.revision == context.max_revision:
        $if data_signal["deleted"]:
            <div class="btn-group">
                <a href="$:make_url("/data_signals/%d/%d/undelete?variant=%s" % (data_signal.generic_signal_id, data_signal.record_number, data_signal.variant))" class='btn btn-success' title='Will return to the last not deleted revision ($:(context.max_revision - 1)).'>Undelete</a>
            </div>
        $else:
            <div class="btn-group">
                <a href="$:make_url("/data_signals/%d/%d/delete?variant=%s" % (data_signal.generic_signal_id, data_signal.record_number, data_signal.variant))" class='btn btn-danger'><i class="glyphicon glyphicon-trash icon-white"></i> Delete</a>
            </div>
            <div class="btn-group">
                <a href="$:make_url("/data_signals/%d/%d/edit?variant=%s" % (data_signal.generic_signal_id, data_signal.record_number, data_signal.variant))" class='btn btn-default'><i class="glyphicon glyphicon-pencil"></i> Edit</a>
            </div>
    $else:
        $if not data_signal["deleted"]:
            <div class="btn-group">
                <a href="$:make_url("/data_signals/%d/%d/restore?variant=%s&revision=%d" % (data_signal.generic_signal_id, data_signal.record_number, data_signal.variant, data_signal.revision))" class='btn btn-default' title='Will return to this revision'>Restore</a>
            </div>

    <div class="btn-group">
        $if context.prev_shot:
            <a href="$:make_url("/data_signals/%d/%d" % (data_signal.generic_signal_id, context.prev_shot))" class="btn btn-default" title="Go to previous record"><i class="glyphicon glyphicon-backward icon-white"></i> $context.prev_shot</a>
        $if context.next_shot:
            <a href="$:make_url("/data_signals/%d/%d" % (data_signal.generic_signal_id, context.next_shot))" class="btn btn-default" title="Go to next record">$context.next_shot <i class="glyphicon glyphicon-forward icon-white"></i></a>
    </div>

    <form role="form" class="form-inline" id="go-to" data-template="$:make_url("/data_signals/{}".format(data_signal.generic_signal_id) + "/{}")" style="display: inline; margin-left: 5px">
        <div class="form-group">
            <label class="control-label" style="vertical-align: middle">Go to record:</label>
            <input style="margin-left: 5px; width: 5em;" type="text" title="Enter the shot number" class="input-mini form-control" id="shot" value="$data_signal["record_number"]"/>
        </div>
        <button type="submit" id="go" style="margin-left: 5px;"  class="btn btn-default">Go</button>
    </form>
</div>
<div class='btn-toolbar'>
$if not data_signal["deleted"] and generic_signal.signal_type == "FILE" and data_signal.rank:
    $if data_signal.rank == 1:
        <div class="btn-group">
            <a href="$:make_url("/data_signals/%d/%d/viewer?variant=%s&revision=%d" % (generic_signal.generic_signal_id, data_signal.record_number, data_signal.variant, data_signal.revision))"
            class="btn btn-success" id="viewer"><i class="glyphicon glyphicon-stats icon-white"></i> Show Viewer</a>
        </div>
        <div class="btn-group">
            <a href="$:make_url("/data_signals/%d/%d/plotly_viewer?variant=%s&revision=%d" % (generic_signal.generic_signal_id, data_signal.record_number, data_signal.variant, data_signal.revision))"
            class="btn btn-success" id="plotly_viewer"><i class="glyphicon glyphicon-stats icon-white"></i> Show Plotly</a>
        </div>
        <div class="btn-group">
            <a href="$:make_url("https://webcdb.tok.ipp.cas.cz:8080/data_signals/%d/%d/plot?variant=%s&revision=%d" % (generic_signal.generic_signal_id, data_signal.record_number, data_signal.variant, data_signal.revision))"
            class="btn btn-success" id="new_plot"><i class="glyphicon glyphicon-stats icon-white"></i> Show New Viewer (testing)</a>
        </div>

    $if data_signal.rank == 3:
        <div class="btn-group">
            <a href="$:make_url("/data_signals/%d/%d/plotly2d/contour?variant=%s&revision=%d" % (generic_signal.generic_signal_id, data_signal.record_number, data_signal.variant, data_signal.revision))"
            class="btn btn-success" id="viewer"><i class="glyphicon glyphicon-cloud icon-white"></i> Show Contour</a>
        </div>
        <div class="btn-group">
            <a href="$:make_url("/data_signals/%d/%d/plotly2d/heatmap?variant=%s&revision=%d" % (generic_signal.generic_signal_id, data_signal.record_number, data_signal.variant, data_signal.revision))"
            class="btn btn-success" id="plotly_viewer"><i class="glyphicon glyphicon-th icon-white"></i> Show Heatmap</a>
        </div>
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-floppy-save icon-white"></i> Download data (txt) <span class="caret"></button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="$:make_url("/data_signals/%d/%d/data?variant=%s&revision=%d" % (generic_signal.generic_signal_id, data_signal.record_number, data_signal.variant, data_signal.revision))" data-toggle="tooltip" data-placement="right" title="Use at your own risk!">Full Signal</a></li>
            $if data_signal.dimensions[0] > 10:
                <li><a href="$:make_url("/data_signals/%d/%d/data?variant=%s&revision=%d&downsample=10" % (generic_signal.generic_signal_id, data_signal.record_number, data_signal.variant, data_signal.revision))">Downsampled 1:10</a></li>
            $if data_signal.dimensions[0] > 100:
                <li><a href="$:make_url("/data_signals/%d/%d/data?variant=%s&revision=%d&downsample=100" % (generic_signal.generic_signal_id, data_signal.record_number, data_signal.variant, data_signal.revision))">Downsampled 1:100</a></li>
            $if data_signal.dimensions[0] > 200:
                <li><a href="$:make_url("/data_signals/%d/%d/data?variant=%s&revision=%d&downsample=200" % (generic_signal.generic_signal_id, data_signal.record_number, data_signal.variant, data_signal.revision))">Downsampled 1:200</a></li>
            $if data_signal.rank == 2:
                <li><a href="$:make_url("/data_signals/%d/%d/data?variant=%s&revision=%d&format=matrix" % (generic_signal.generic_signal_id, data_signal.record_number, data_signal.variant, data_signal.revision))">2D Matrix</a></li>
        </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-floppy-save icon-white"></i> Download data (hdf5) <span class="caret"></button>
            <ul class="dropdown-menu" role="menu">
            $if data_signal.rank <= 2:
                <li><a href="$:make_url("/data_signals/%d/%d/data?variant=%s&revision=%d&amp;format=hdf5" % (generic_signal.generic_signal_id, data_signal.record_number, data_signal.variant, data_signal.revision))" data-toggle="tooltip" data-placement="right" title="Generate HDF5 with data similar to txt data download"><i class="glyphicon glyphicon-floppy-saved icon-black"></i> Processed data</a></li>
            <li><a href="$:make_static_link("%s" % data_file.full_path)" data-toggle="tooltip" data-placement="right"  data-html="true"
            $if ctx.ip == "127.0.0.1" or ctx.ip.startswith("10.10."):
                title="Direct download of the original HDF5 file containing this signal <b>w/o any additional calibration</b><br /><br />The file can be large, please consider downloading the file directly from filesystem.<br/><br/><b>You can right click on the link in &quot;Data file&quot; in the table below and select &quot;Download as&quot; (or just click on it by middle button)</b>"
            $else:
                title="Direct download of the original HDF5 file containing this signal <b>w/o any additional calibration </b><br /><br />The file can be large, please consider downloading the file directly from filesystem (the path is in &quot;Data file&quot; row of the table below)."
            ><i class="glyphicon glyphicon-floppy-remove icon-black"></i> Original (RAW) file</a></li>
            </ul>
        </div>
    $if data_signal.rank == 2:
        <a href="$:make_url("/data_signals/%d/%d/plot?variant=%s&revision=%d" % (generic_signal.generic_signal_id, data_signal.record_number, data_signal.variant, data_signal.revision))"
        class="btn btn-success"><i class="glyphicon glyphicon-stats icon-white"></i> Simple 2D Plot</a>
$else:
    $if generic_signal.signal_type == "FILE":
        <div class="btn-group">
            <a href="$:make_static_link("%s" % data_file.full_path)"
            class="btn btn-success"><i class="glyphicon glyphicon-floppy-save icon-white"></i> Download file</a>
        </div>
</div>

$if data_signal["deleted"]:
    <p class="alert alert-danger">Deleted signal</p>

$if context.error:
    <p class="alert alert-danger"><b>Error: </b>$context.error</p>

<table class="table table-info table-bordered">
    <tr><td>Shot number:</td><td>$:link(data_signal.record_number, "/records/%s" % data_signal.record_number)</td></tr>
    <tr><td>Generic signal:</td><td>$:link("%s/%s" % (generic_signal.generic_signal_name, data_source.name), "/generic_signals/%d/" % ( generic_signal.generic_signal_id))</td></tr>
    <tr><td>Creation time:</td><td>$data_signal.timestamp</td></tr>

    $if not data_signal["deleted"]:
        $if computer:
            <tr>
                <td>Hardware source:</td>
                <td>$:link(computer.computer_name, "/hardware/" + computer.computer_name) &nbsp;/&nbsp;
                    board $data_signal.board_id &nbsp;/&nbsp;
                    <a href="$:make_url("/hardware/%s/%d/%d" % ( computer.computer_name, data_signal.board_id, data_signal.channel_id ))">channel $data_signal.channel_id</a></td>
            </tr>

        $if data_file:
            <tr><td>Data file:</td>
                $if ctx.ip == "127.0.0.1" or ctx.ip.startswith("10.10."):
                    <td><a href="file:///$data_file.full_path" download>$data_file.full_path</a></td>
                $else:
                    <td>$data_file.full_path</td>
            </tr>
            $if data_signal.data_file_key:
                <tr><td>Data file key:</td><td>$data_signal.data_file_key</td></tr>
            $if data_signal.dimensions:
                <tr><td>Data dimensions:</td><td>$data_signal.dimension_string</td></tr>

        <tr><td>Start time</td><td> $data_signal.time0 ms</td></tr>
        <tr><td>Coefficient lev->volts</td><td> $data_signal.coefficient</td></tr>
        <tr><td>Offset</td><td>$data_signal.offset</td></tr>
        <tr><td>Coefficient volts->units</td><td>$data_signal.coefficient_V2unit</td></tr>
        <tr><td>Units</td><td>$generic_signal.units</td></tr>
        <tr><td>Data quality</td><td>$data_signal.data_quality</td></tr>
    $if data_signal.note:
        <tr><td>Note</td><td>$data_signal.note</td></tr>
    $if not data_signal["deleted"]:
        <tr><td>Parameters</td>
            <td>
                $if data_signal.parameters:
                    $if data_signal.parameters.gs_parameters:
                        <b>From generic signal:</b>
                        <pre>$data_signal.parameters.gs_parameters</pre>

                    $if data_signal.parameters.daq_parameters:
                        <b>From channel setup:</b>
                        <pre>$data_signal.parameters.daq_parameters</pre>
                $else:
                    <p><i>No parameters</i></p>
            </td>
        </tr>
</table>

$if not data_signal["deleted"]:
    <h3>String IDs</h3>

    $for key, strid in context.strids.items():
        <p><span class="label label-info">$key</span> $strid</p>

    $if not generic_signal.signal_type == "LINEAR":
        <h3>Code</h3>

        <div class="btn-toolbar code-toolbar">
            <div class="btn-group" data-toggle="buttons">
                <button class="btn btn-default $context.active_lang.get("python", "")" type="button" data-lang="python"><input type="radio" name="lang" value="python"/>Python</button>
                <button class="btn btn-default $context.active_lang.get("matlab", "")" type="button" data-lang="matlab"><input type="radio" name="lang" value="matlab"/>Matlab</button>
                <button class="btn btn-default $context.active_lang.get("idl", "")" type="button" data-lang="idl"><input type="radio" name="lang" value="idl"/>IDL</button>
            </div>
        </div>

        <pre class="code" id="code-python" title="Copying this code into Python results in getting the signal without any previous preparation."><code >from pyCDB import client
        cdb = client.CDBClient()
        signal = cdb.get_signal("$context.default_strid")</code></pre>

        <pre class="code" id="code-matlab" title="Copying this code into Matlab results in getting the signal without any previous preparation."><code>cdb = cdb_client();
        signal = cdb.get_signal('$context.default_strid');
        </code></pre>

        <pre class="code" id="code-idl" title="Copying this code into IDL results in getting the signal without any previous preparation."><code>cdb = cdb_client()
        signal = cdb.get_signal("$context.default_strid")</code></pre>

<script src="$:make_url("/static/js/jquery.cookie.js")"></script>
<script src="$:make_url("/static/js/show_signal.js")"></script>
<script src="$:make_url("/static/js/shots.js")"></script>
