$def with( rule )
<table>
	<tr>
		<td><label for="name">Name</label></td>
		$if rule:
			<td><input type="text" name="name" id="name" class="form-control" value="$rule.rule_name"/></td>
		$else:
			<td><input type="text" name="name" id="name" class="form-control"/></td>
	</tr>

	<tr>
		<td><label for="module">Module name</label></td> 
		$if rule:
			<td><input type="text" name="module" id="module" class="form-control" value="$rule.module_name"/></td>
		$else:
			<td><input type="text" name="module" id="module" class="form-control"/></td>
	</tr>

	<tr>
		<td><label for="func">Function name</label></td>
		$if rule:
			<td><input type="text" name="func" id="func" class="form-control" value="$rule.function_name"/></td>
		$else:
			<td><input type="text" name="func" id="func" class="form-control"/></td>
	</tr>

	<tr>
		<td><label for="description">Description</label></td>
		$if rule:
			<td><textarea name="description" id="description" class="form-control">$rule.description</textarea></td>
		$else:
			<td><textarea name="description" id="description" class="form-control"></textarea></td>
	</tr>
</table>
$if rule:
	<input type="submit" class="btn btn-lg btn-primary" value="Update"/>
$else:
	<input type="submit" class="btn btn-lg btn-primary" value="Create"/>