$def with( context )
$ rule = context["rule"]

<h2>Edit Postprocessing Rule</h2>

<form method="post" action="$:make_url("/postprocessing/rules/%i" % rule.rule_id)">
	$:render_partial("/postprocessing/_edit", rule=rule)
</form>