$def with( data )

<h2>Postprocessing</h2>

<div class="btn-toolbar">
	<a href="$:make_url("/postprocessing/log")" class="btn btn-primary">Show Log</a>

	<form action="$:make_url("/postprocessing/run")" class="form-inline">
        <label style="vertical-align: middle" for="shot">Run postprocessing for record:</label>
        <span style="max-width: 100px; display: inline-block; vertical-align: middle;">
            <input style="margin-left: 5px" type="text" title="Enter the shot number" class="input-mini form-control" id="shot" name="shot" value="$data["last_record_number"]"/>
        </span>
        <button type="submit" id="go" style="margin-left: 5px;"  class="btn btn-primary">Run</button>
    </form> 
</div>

<h3>Rules</h3>

<div class="btn-toolbar">
	<a href="$:make_url("/postprocessing/rules/new")" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add New Rule</a>
</div>

$if len( data["rules"] ):
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Function</th>
				<th>Description</th>
				<th>Active</th>
			</tr>
		</thead>
		<tbody>
			$for rule in data["rules"]:
				$if rule["active"] == 1:
					<tr class="success">
				$else:
					<tr class="error">
				<td>$:link( rule["rule_id"], "/postprocessing/rules/%d" % rule["rule_id"])</td>
				<td>$rule["rule_name"]</td>
				<td>$rule["func"]</td>
				<td>$:ellipsis( rule["description"], 20, True)</td>
				$if rule["active"] == 1:
					<td>Yes</td>
				$else:
					<td>No</td>
				</tr>
		</tbody>
	</table>
$else:
	<p class="alert alert-info">There are no post-processing rules.</p>