$def with( data )
$ logs = data.logs

<h2>Postprocessing Log</h2>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Run</th>
			<th>Record</th>
			<th>Time</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		$for log in logs:
			<tr>
				<td>$log.run_id</td>
				<td><a href="$:make_url("/postprocessing/records/%i" % log.record_number)">$log.record_number</a></td>
				<td>$log.timestamp</td>
				<td>$log.status</td>
			</tr>
	</tbody>
</table>