$def with( data )
$ rule = data["rule"]
$ logs = data["logs"]

<h2>Postprocessing Rule $rule.rule_name</h2>

<div class="btn-toolbar">
	$if rule.active:
		<form class="form-inline" method="post" action="$:make_url("/postprocessing/rules/%d/deactivate" % data["rule"]["rule_id"])">
			<button type="submit" class="btn btn-danger">Deactivate</button>
		</form>
	$else:
		<form class="form-inline" method="post" action="$:make_url("/postprocessing/rules/%d/activate" % data["rule"]["rule_id"])">
			<button type="submit" class="btn btn-success">Activate</button>
		</form>
	<a class="btn btn-default" href="$:make_url("/postprocessing/rules/%d/edit" % rule.rule_id)">Edit</a>
	<a class="btn btn-default" href="$:make_url("/postprocessing/rules/%d/source" % rule.rule_id)">Edit Source</a>	
</div>

<table class="table table-bordered table-info">
	<tr>
		<td>ID</td>
		<td>$rule.rule_id</td>
	</tr>
	<tr>
		<td>Description</td>
		<td>$rule.description</td>
	</tr>
	<tr>
		<td>Function</td>
		<td>$rule.func</td>
	</tr>
	<tr>
		<td>Status</td>
		<td>
			$if rule.active:
				Active
			$else:
				Inactive
		</td>
	</tr>
</table>

<h3>Input signals</h3>

<div class="signals" id="inputs">
	<form class="form-inline" method="POST" action="$:make_url("/postprocessing/rules/%d/update_inputs" % data["rule"]["rule_id"])" data-signals="$data["input_list"]">
		<input type="hidden" name="signals" value="" class="signal-list"/>
		<div class="btn-toolbar">
			<button type="button" class="btn btn-default edit-button">Edit Inputs</button>
		</div>
	</form>

	<div class="signal-list">
	$if data["inputs"]:
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Generic Signal</th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody>
				$for input in data["inputs"]:
					<tr data-id="$input["generic_signal_id"]">
						<td>$input["generic_signal_id"]</td>
						<td><a href="$:make_url('/generic_signals/%d' % input["generic_signal_id"])">$input["data_source_name"] / $input["generic_signal_name"]</a></td>
						<td></td>
					</tr>
			</tbody>
		</table>
	$else:
		<p class="alert">There are no input signals. The rule cannot be processed.</p>
	</div>
</div>

<h3>Output signals</h3>

<div class="signals" id="outputs">
	<form class="form-inline" method="POST" action="$:make_url("/postprocessing/rules/%d/update_outputs" % data["rule"]["rule_id"])" data-signals="$data["output_list"]">
		<input type="hidden" name="signals" value="" class="signal-list"/>
		<div class="btn-toolbar">
			<button type="button" class="btn edit-button btn-default">Edit Outputs</button>
		</div>
	</form>

	<div class="signal-list">
	$if data["outputs"]:
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Generic Signal</th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody>
				$for output in data["outputs"]:
					<tr data-id="$output["generic_signal_id"]">
						<td>$output["generic_signal_id"]</td>
						<td><a href="$:make_url('/generic_signals/%d' % output["generic_signal_id"])">$output["data_source_name"] / $output["generic_signal_name"]</a></td>
						<td></td>
					</tr>
			</tbody>
		</table>
	$else:
		<p class="alert">There are no output signals. The rule cannot be processed.</p>
	</div>
</div>

<h3>Logs</h3>
$if logs:
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Run</th>
				<th>Record</th>
				<th>Time</th>
				<th>Log output</th>
			</tr>
		</thead>
		<tbody>
			$for log in logs:
				<tr>
					<td>
						<a href="$make_url("/postprocessing/records/%i?run=%i" % (log.record_number, log.run_id))">
						$log.run_id</a>
					</td>
					<td>
						<a href="$make_url("/postprocessing/records/%i" % log.record_number)">$log.record_number</a>
					</td>
					<td>$log.timestamp</td>
					<td>$:ellipsis(log.log, 100, True)</td>
				</tr>
		</tbody>
	</table>
$else:
	<p>There are no logs for this rule.</p>

<script src="$make_url("/static/js/generic_signals.js")"></script>
<script src="$make_url("/static/js/show_postprocessing.js")"></script>

<style>
	.signals ul li { list-style-type: none; border: 0px solid #ccc; padding: 3px; margin: 3px; border-radius: 2px;}
	.remove-button, .add-button { margin-right: 10px; }
	.list-unselected { max-height: 500px; overflow-y: scroll }
	.filtered-out, .hidden { display: none; }
</style>