$def with( context )
$ runs = context["runs"]

<h2>Postprocessing for Record $context.record_number</h2>

<div class="btn-toolbar">
	<a href="$:make_url("/postprocessing/run?shot=%d" % context["record_number"])" class="btn btn-primary">Run again</a>
</div>

$for run_id, run in runs.items():
	<h3>Run $run_id</h3>

	<h4>Run Logs</h4>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Time</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			$for log in run["run_logs"]:
				<tr>
					<td>$log.timestamp</td>
					<td>$log.status</td>
				</tr>
		</tbody>
	</table>

	<h4>Rule Logs</h4>
	$if run["rule_logs"]:
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Rule</th>
					<th>Time</th>
					<th>Log output</th>
					<th>Output signals</th>
				</tr>
			</thead>
			<tbody>
				$for log in run["rule_logs"]:
					<tr>
						<td><a href="$:make_url("/postprocessing/rules/%i" % log.rule_id)">$log.rule_id</a></td>
						<td>$log.timestamp</td>
						<td>$:ellipsis(log.log, 100, True)</td>
						<td>
							$for signal in log.signals:
								<a href="$:make_url("/data_signals/%i/%i?revision=%i" % (signal[0], context["record_number"], signal[2]))">$signal[1]</a><br/>
						</td>
					</tr>
			</tbody>
		</table>
	$else:
		<p>There are no logs for this run.</p>
