$def with( data )

<h2>$data["rule"]["rule_name"] - Source Code</h2>

<form method="POST">
	<div class="btn-toolbar">
		<input type="hidden" name="source" id="source-hidden" value="$data["source"]"/>
		<a href="$:make_url("/postprocessing/rules/%d/" % data["rule"]["rule_id"])" class="btn btn-default">Back to Rule</a>
	</div>
	
	<div id="source-edit" style="width:100%; min-height: 400px">$data["source"]</div>

	<div class="btn-toolbar">
		$if data["new"]:
			<button type="submit" class="btn btn-default" id="save-button">Save Changes</button>
		$else:
			<button type="submit" class="btn btn-default" id="save-button" style="display:none">Save Changes</button>
	</div>
</form>

<script src="$make_url("/static/js/ace/ace.js")"></script>
<script src="$make_url("/static/js/source_postprocessing.js")"></script>

<style>
.ace_editor { font-size: 14px;}
</style>