$def with( data )

<h2>Record $data["record_number"] - Overview of Collected Channels ($data["channel_count"])</h2>

<div class="btn-toolbar">
	$if data["prev"]:
		<a href="$:make_url("/records/%d/boards" % data["prev"])" class="btn btn-info" title="Go to previous record"><i class="glyphicon glyphicon-backward icon-white"></i> $data["prev"]</a>
	$if data["next"] and data["next"] < 1000000:
		<a href="$:make_url("/records/%d/boards" % data["next"])" class="btn btn-info" title="Go to next record">$data["next"] <i class="glyphicon glyphicon-forward icon-white"></i></a>
	<a href="$:make_url("/records/%d/" % data["record_number"])" class="btn btn-default">Back to Record</a>
	<form class="form-inline" id="go-to" data-template="$:make_url("/records/{}/boards")" style="display: inline; margin-left: 5px">
	    <label style="vertical-align: middle">Go to record:</label> <input style="margin-left: 5px" type="text" title="Enter the shot number" class="input-mini" id="shot" value="$data["record_number"]"/>
		<button type="submit" id="go" style="margin-left: 5px;"  class="btn btn-default">Go</button>
	</form>
</div>

<table class="table table-condensed table-mini">
$for computer_name in data["computer_names"]:
	<tr>
		<td colspan="97" class="computer">$computer_name <input type="checkbox" style="margin-left: 20px;" checked class="check-board-computer store-state" id="check-board-computer-$computer_name"/><label style="font-weight: normal; display: inline; font-size: 0.8em" for="check-board-computer-$computer_name">Show boards</label></td>
	</tr>
	
	$for board_id in data["channels"][computer_name]["boards"]:
		<tr class='board-computer-$computer_name'>
			<td class="board">Board $board_id</td>
			$for channel_id in data["channels"][computer_name][board_id]:
				<td
				$if data["channels"][computer_name][board_id][channel_id]:
					class="channel success"
				$else:
					class="channel error"
				>
				$if data["channels"][computer_name][board_id][channel_id]:
					$:link(channel_id, "/data_signals/%d/%d" % (data["channels"][computer_name][board_id][channel_id], data["record_number"]))
				$else:
					$channel_id
				</td>
		</tr>
</table>

<style>
	table.table-mini { font-size: 0.7em; width: auto; max-width: auto; }
	table.table-mini td { padding: 1px !important; vertical-align: middle; min-width: 18px; text-align: center; border-width: 1px !important; border-style: solid !important; border-color: #888 !important; }
	table.table-mini td.error { background-color: #faa !important;}
	table.table-mini td.success { background-color: #afa !important; }
	table.table-mini td { white-space: nowrap; line-height: 1.4em;}
	table.table-mini td.computer { font-size: 1.3em; font-weight: bold; text-align: left; padding: 2px 10px; background-color: #ffc}
	table.table-mini td.board { text-align: left; padding: 1px 3px !important;}
</style>

<script src="$make_url("/static/js/shots.js")"></script>
