$def with( data )

<h3>Select one record (shot)
</h3>


<!-- The list of all experimental records (shots).  -->
The list of signals collected in a single record (i.e. a subset of all existing signals) is obtained after you select a record, either in the calendar or by typing the shot number directly.
Alternative is to show <a href="$:make_url("/generic_signals")">all existing signals</a>.

<div class="btn-toolbar">
    <form class="form-inline" id="go-to" data-template="$:make_url("/records/{}")" style="display: inline-block; margin-left: 5px">
        <label style="vertical-align: middle">Go to record:</label>
        <span style="max-width: 100px; display: inline-block;">
            <input style="margin-left: 5px" type="text" title="Enter the shot number" class="input-mini form-control" id="shot" value=""/>
        </span>
        <button type="submit" id="go" style="margin-left: 5px;"  class="btn btn-primary">Go</button>
    </form>
</div>
<div class="btn-toolbar">
    <form class="form-inline" style="display: inline-block; margin-left: 5px">
        <label>Go to month: </label>
        <span style="max-width: 200px; display: inline-block;">
            <select id="month" class='form-control'>
                $for m in data["months"]:
                    $if m[0] == data["year"] and m[1] == data["month"]:
                        <option selected value="$m[0]-$m[1]">$month_name(m[0],m[1])</option>    
                    $else:
                        <option value="$m[0]-$m[1]">$month_name(m[0],m[1])</option>    
            </select>
        </span>
    </form>    

    $if data["prev"] >= data["min"]:
        <a href="$:make_url("/records?year=%d&month=%d" % data["prev"])" class="btn btn-info" title="Go to previous month"><i class="glyphicon glyphicon-backward icon-white"></i> $month_name(data["prev"][0], data["prev"][1]) </a>
    $if data["next"] <= data["max"]:
        <a href="$:make_url("/records?year=%d&month=%d" % data["next"])" class="btn btn-info" title="Go to next month">$month_name(data["next"][0], data["next"][1]) <i class="glyphicon glyphicon-forward icon-white"></i></a>
</div>

<style>
    .cell-like { width: 4em; text-align: center; padding: 3px;}
</style>

$if data["calendar"]:
    <table class="shot-calendar table table-bordered">
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        $for row in data["calendar"]:
            <tr>
            $for cell in row:
                $if cell:
                    $if cell == data["today"]:
                        <td class='today'><div class="calendar-day">$cell (today)</div>
                    $else:
                        <td><div class="calendar-day">$cell</div>
                    
                    <div class="calendar-shots">
                        $for shot in data["day_shots"][cell]:
                            <div>
                                $:link(shot["record_number"], "/records/%s" % shot["record_number"], title="%d signals, %s" % (shot["signal_count"], shot["record_time"].strftime("%H:%M")))
                            </div>
                    </div>
                    </td>
                $else:
                    <td></td>
            </tr>
    </table>

<script src="$make_url("/static/js/shots.js")"></script>
