$def with( context )
$ record_number = context["record_number"]
$ prev = context["prev"]

<h2>
    Shot $record_number
</h2>
<div class="btn-toolbar">
	$if context["prev"]:
		<a href="$:make_url("/records/%d" % prev)" class="btn btn-info" title="Go to previous record"><i class="glyphicon glyphicon-backward icon-white"></i> $prev</a>
	$if context["next"] and context["next"] < 1000000:
		<a href="$:make_url("/records/%d" % context["next"])" class="btn btn-info" title="Go to next record">$context["next"] <i class="glyphicon glyphicon-forward icon-white"></i></a>
	<a href="$:make_url("/records/%d/boards" % context["record_number"])" class="btn btn-default" title="Show a table with boards displaying which channels were collected and which weren't">Collected Channels</a>
	<a href="$:make_url("/postprocessing/records/%i" % context["record_number"])" class="btn btn-default" title="Run &amp; show postprocessing.">Postprocessing</a>
	<a href="$:intranet_url("logbook.tok.ipp.cas.cz/index.php?show=shot&amp;shot_no=%d" % context["record_number"])" class="btn btn-default">View in logbook</a>

	<form class="form-inline" id="go-to" data-template="$:make_url("/records/{}")" style="display: inline; margin-left: 5px">
	    <label style="vertical-align: middle">Go to record:</label>
	    <span style="max-width: 100px; display: inline-block;">
	    	<input style="margin-left: 5px" type="text" title="Enter the shot number" class="input-mini form-control" id="shot" value="$context["record_number"]"/>
	    </span>
		<button type="submit" id="go" style="margin-left: 5px;"  class="btn btn-primary">Go</button>
	</form>

</div>

<table class="table table-bordered table-info">
	<tr>
		<td>Time</td><td>$context["date"] ($:pretty_ago(context["date"]))</td>
	</tr>
	<tr>
		<td>Number of Signals</td><td>$:len(context["signals"])</td>
	</tr>
</table>

Only signals collected in this shot are shown here. Can be grouped by hardware attachments, by data sources, or displayed all for easy searching.
<h3>Signals
	$ grouping_buttons = context["grouping_buttons"]
	$for button in grouping_buttons:
		$if button == context["group_by"]:
			<span class="btn btn-primary">$grouping_buttons[button]</span>
		$else:
			<a href="?group_by=$button" class="btn btn-default">$grouping_buttons[button]</a>
</h3>

$if len(context["signals"]):
	$if context["group_by"] == "data_sources":
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<ul class="nav nav-pills nav-stacked ds-tabs">
					$for data_source in context["data_sources"]:
						$if len(context["grouped_signals"].get(data_source["data_source_id"])):
							$if data_source["data_source_id"] == context["active_data_source_id"]:
								<li class="active">
							$else:
								<li>
							<a href="#ds-$data_source["name"]" data-data-source-id="$data_source["data_source_id"]" data-toggle="tab">
								$data_source["name"]
								($len(context["grouped_signals"][data_source["data_source_id"]]))
							</a>
							</li>
				</ul>
			</div>
			<div class="col-md-9 col-sm-6 col-xs-12">
				<div class="tab-content">
					$for data_source in context["data_sources"]:
						$if len(context["grouped_signals"].get(data_source["data_source_id"])):
							$if data_source["data_source_id"] == context["active_data_source_id"]:
								<div class="tab-pane fade active in" id="ds-$data_source["name"]">
							$else:
								<div class="tab-pane fade" id="ds-$data_source["name"]">
							<table class="table table-condensed table-bordered">
								<tr>
									<th>Generic signal</th>
									<th>Computer</th>
									<th>Board</th>
									<th>Channel</th>
									<th>Revisions</th>
								</tr>

								$for signal in context["grouped_signals"][data_source["data_source_id"]]:	
									$if signal["deleted"]:
										<tr class="error">
									$else:
										<tr>
									<td>$:link(signal["generic_signal_name"], "/data_signals/%s/%s" % (signal["generic_signal_id"], context["record_number"]))</td>
									$if signal["deleted"]:
										<td colspan="4">Deleted</td>
									$else:
										<td>$signal["computer_name"]</td>
										<td>$signal["board_id"]</td>
										<td>$signal["channel_id"]</td>
										<td>$signal["max_revision"]</td>
									</tr>
							</table>
							</div>
				</div>
			</div>
		</div>
	$elif context["group_by"] == "hardware":
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<ul class="nav nav-pills nav-stacked computer-tabs">
					$for computer_id in context["computers"]:
						$ computer_name = context["computer_names"].get(computer_id, "[unattached]")

						$if computer_id == context["active_computer_id"]:
							<li class="active">
						$else:
							<li>
						<a href="#computer-$computer_id" data-computer-id="$computer_id"]" data-toggle="tab">
							$computer_name
							($len(context["grouped_signals"][computer_id]))
						</a>
						</li>
				</ul>
			</div>

			<div class="col-md-9 col-sm-6 col-xs-12">
				<div class="tab-content">
					$for computer_id in context["computers"]:
						$if computer_id == context["active_computer_id"]:
							<div class="tab-pane fade active in" id="computer-$computer_id">
						$else:
							<div class="tab-pane fade" id="computer-$computer_id">
						<table class="table table-condensed table-bordered">
							<tr>
								<th>Generic signal</th>
								<th>Computer</th>
								<th>Board</th>
								<th>Channel</th>
								<th>Revisions</th>
							</tr>

							$for signal in context["grouped_signals"][computer_id]:	
								$if signal["deleted"]:
									<tr class="error">
								$else:
									<tr>
								<td>$:link(signal["generic_signal_name"], "/data_signals/%s/%s" % (signal["generic_signal_id"], context["record_number"]))</td>
								$if signal["deleted"]:
									<td colspan="4">Deleted</td>
								$else:
									<td>$signal["computer_name"]</td>
									<td>$signal["board_id"]</td>
									<td>$signal["channel_id"]</td>
									<td>$signal["max_revision"]</td>
								</tr>
						</table>
						</div>
				</div>
			</div>
		</div>

	$elif context["group_by"] == "all":
		<table class="table table-condensed table-bordered">
			<tr>
				<th>Generic signal</th>
				<th>Computer</th>
				<th>Board</th>
				<th>Channel</th>
				<th>Revisions</th>
			</tr>

			$for signal in (signal for signal in context["signals"]):	
				$if signal["deleted"]:
					<tr class="error">
				$else:
					<tr>
				<td>$:link(signal["generic_signal_name"], "/data_signals/%s/%s" % (signal["generic_signal_id"], context["record_number"]))</td>
				$if signal["deleted"]:
					<td colspan="4">Deleted</td>
				$else:
					<td>$signal["computer_name"]</td>
					<td>$signal["board_id"]</td>
					<td>$signal["channel_id"]</td>
					<td>$signal["max_revision"]</td>
				</tr>
		</table>
$else:
	<p class="alert alert-info">There are no signals for this shot.</p>

<script src="$make_url("/static/js/shots.js")"></script>
