body {
	margin-top: 40px;
}

.container {
	margin-left: 50px;
}

.table-bordered, .table-bordered th, .table-bordered td, .table td, .table, .table th {
	border-color: #aaa;
}

.table thead > tr > th {
	background-color: #fec;
	color: black;
	vertical-align: middle;
}

a {
	color: blue;
}

a.help-icon {
	color: #000;
	margin-right: 5px;
	cursor: pointer;
	text-decoration: none;
}

[data-help-for] {
	display: none;
}

a:hover
{
	color: #008;
}

td, td.normal, .table-info td.normal:first-child
{
	background-color: #f6f6f6;
}

.table-info {
	width: auto;
}
.table-info tr td {
	min-width: 10em;
}
.table-info tr td:first-child {
	white-space:nowrap;
	background-color: #fec;
}

form table td
{
	padding: 0.4em;
	vertical-align: middle;
	background-color: white;
}

form.form-inline
{
	display: inline;
}
.btn-toolbar > form + .btn, .btn-toolbar > .btn-group + .btn {
	margin-left: 5px;
}

/* Top menu */
.navbar {
	min-height: 40px;
}
.navbar-inverse .navbar-nav > li > a {
	color: #f80;
	font-size: 1.1em;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-inverse .navbar-brand {
	color: white;
	font-weight: bold;
	margin-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Override fonts */
body, input, button, select, textarea
{
	font-family: Verdana, "Helvetica Neue",Helvetica,Arial,sans-serif
}

.btn-toolbar {
	margin: 10px 0px;
}
.btn-toolbar > .btn + .btn, .btn-toolbar > .btn-group + .btn, .btn-toolbar > .btn + .btn-group, .btn-toolbar > .tooltip + .btn {
    margin-left: 5px;
}

.btn-toolbar .toolbar-item {
	margin: auto 5px;
}

select.error, input.error 
{
	background-color: #f88;
}

a#user {
	color: #ccf;
	font-weight: normal;
	font-size: 90%;
}

.btn-default:active, .btn-default.active {
	color: #000000;
	background-color: #bbbbcb;
	border-color: #adadad;
}

ul.select-gs {
	margin-top: 5px;
	padding-left: 0px;
	max-height: 40em;
	min-height: 8em;
	overflow-y: scroll;
	overflow-x: hidden;
}

ul.select-gs li {
	text-wrap: unrestricted;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
}
ul.select-gs li.selected {
	display: block !important;
	background-color: #428BCA;
	color: white;
}

ul.select-gs li.filtered-out {
	display: none;
}

table.shot-calendar
{
	width: 100%;
	max-width: 1280px;
}

table.shot-calendar tr
{
	
}

table.shot-calendar td
{
	vertical-align: top;
	height: 150px;
	width: 14%;
}

table.shot-calendar td.today
{
	background-color: #ffffc0;
}

table.shot-calendar .calendar-day {
	font-weight: bold;
	font-size: 120%;
	margin-bottom: 5px;
}

table.shot-calendar .calendar-shots div {
	display: inline-block;
}

/* JSON editor */
.jsoneditor .menu {
	/* display: none; */
}

.jsoneditor textarea {
	min-height: 200px;
}

.user-messages {
	margin-top: 55px;
	margin-bottom: -25px;
}
