path {
	stroke: blue;
	stroke-width: 1;
	fill: none;
}

.axis path {
	stroke: black;
}

.axis {
	shape-rendering: crispEdges;
}

.axis line {
	stroke: #ccc; 
}

path {
	/* pointer-events: none; */
}

.axis .minor. .axis.minor{
	stroke-opacity: .5;
}

.axis.x {
	/* cursor: w-resize; */
	pointer-events: all;
}

.overlay {
	fill: none;
	pointer-events: all;
	/* cursor: w-resize; */
}

.select-box {
	pointer-events: none;
	fill: rgba(255, 200, 120, 0.8);
}

circle {
	cursor: pointer;
}

div.data-tooltip {   
	position: absolute;           
	text-align: left;           
	padding: 4px;             
	/* font: 14px sans-serif;         */
	background: black;   
	border: 1px solid black;  
	color: white;
	border-radius: 8px;           
	pointer-events: none;         
}