$def with( data_sources )

<h2>Data Sources</h2>
Data sources serve to organize all existing <a href="$:make_url("/generic_signals")">generic signals</a> into separate groups, which represent either physical diagnostic systems, categories of post-processed signals, or data acquisition (DAQ) systems.
Alternative is to show only signals collected <a href="$:make_url("/records")">in a given record</a>.

<div class="btn-toolbar">
	<a href="$:make_url("/data_sources/new")" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Create new</a>
</div>

<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Subdirectory</th>
			<th>Generic signals</th>
			<th>Description</th>
		</tr>
	</thead>
	$for data_source in data_sources:
		<tr>
			<td>$data_source["data_source_id"]</td>
			<td>$:link(data_source["name"], "/data_sources/%s" % data_source["name"])</td>
			<td>$data_source["subdirectory"]</td>
			<td>$data_source["gs_count"]</td>
			<td>$:ellipsis(data_source["description"], 25, True)</td>
		</tr>
</table>