<h2>Create new data source</h2>

<form action="$:make_url("/data_sources")" method="POST">
    <table>
        <tr>
            <td><label for="name">Name</label></td>
            <td><input required name="name" id="name" type="text" class="form-control"/></td>
        </tr>

        <tr>
        	<td><label for="subdirectory">Subdirectory</label></td>
        	<td><input required name="subdirectory" id="subdirectory" class="form-control" type="text"></td>
        </tr>

        <tr>
        	<td><label for="description">Description</label></td>
        	<td><textarea name="description" id="description" class="form-control" type="text"></textarea>
        </tr>
    </table>

    <input type="submit" value="Create Data Source" class="btn btn-lg btn-primary" />
</form>