$def with( data_source )

<h2><b>$data_source["name"]</b> (data source)</h2>

<table class="table table-info table-bordered">
	<tr>
		<td>Id</td>
		<td>$data_source["data_source_id"]</td>
	</tr>

	<tr>
		<td>Subdirectory</td>
		<td>$data_source["subdirectory"]</td>
	</tr>

	<tr>
		<td>Description</td>
		<td style="max-width: 50em">$data_source["description"]</td>
	</tr>
</table>

<h3>Generic signals</h3>
$if data_source.generic_signals:
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th>Name</th><th>Description</th><th>Unit</th>
			</tr>
		</thead>
		$for gs in data_source.generic_signals:
			<tr>
				<td>$:link(gs["generic_signal_name"], "/generic_signals/%s/%s" % (data_source["name"], gs["generic_signal_name"])) </td>
				<td>$:ellipsis(gs["description"], 50, True)</td>
				<td>$gs["units"]</td>
			</tr>
	</table>
$else:
	<p class="alert alert-info">There are no generic signals.</p>
