$def with(context)
$ generic_signal = context["generic_signal"]

<h2>Attach $generic_signal["generic_signal_name"]</h2>

<div class="col-sm-6">
	<form method="POST" role="form" id="attach-form" action="$:make_url("/generic_signals/%d/attach" % generic_signal["generic_signal_id"])">
		<table>
			<div class="form-group">
				<label for="computer_id">Computer</label>				
				<select name="computer_id" id="computer_id" class="store-state form-control">
					$for computer in context["available_computers"]:
						<option value="$computer["computer_id"]">$computer["computer_name"]</option>
				</select>
			</div>
			<div class="form-group">
				<label for="board_id">Board</label>
				<select name="board_id" id="board_id" class="store-state form-control">
					$for i in range(1, 9):
						<option value="$i">Board $i</option>
				</select>
			</div>
			<div class="form-group">
				<label for="channel_id" title="Only available channels are displayed.">Channel</label>
				
				<select name="channel_id" id="channel_id" class="form-control">
					$for i in range(1, 17):
						<option value="$i">Channel $i</option>
				</select>
			</div>
			<div class="form-group">
				<label for="coefficient_lev2V">Coefficient levels->volts</label>
				<input value="1.0" name="coefficient_lev2V" id="coefficient_lev2V" type="text" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="offset">Offset</label>
				<input value="0.0" name="offset" id="offset" type="text" class="form-control"/>
			</div>		
			<div class="form-group">
				<label for="coefficient_V2unit">Coefficient volts->units</label>
				<input value="1.0" name="coefficient_V2unit" id="coefficient_V2unit" type="text" class="form-control"/>
			</div>
			<div class="form-group">
				<label>Time axis</label>
				<select name="time_axis_id" id="time_axis_id" data-enables="time_axis_name" class="form-control">
					<option value="0">Don't specify</option>
					$for axis in context["time_axes"]:
						<option value="$axis["generic_signal_id"]">$axis["name"] (id=$axis["generic_signal_id"], $axis["signal_count"] signals)</option>	
				</select>
			</div>
		</table>

		<button type="submit" id="attach-submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-ok icon-white"></i> Attach</button>
	</form>
</div>

<script src="$make_url("/static/js/attach_generic_signal.js")"></script>
