$def with( data )

<h2>Generic Signals</h2>
This table lists all existing signals in CDB, including the obsolete ones. Alternative is to show only signals collected <a href="$:make_url("/records")">in a given record</a>.

<div class="btn-toolbar">
	<a href="$:make_url("/generic_signals/new")" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Create New Generic Signal</a>
	<button class="btn btn-default" type="button" id="filter-button" title="Add one or more filters to search generic signals."><i class="glyphicon glyphicon-search"></i> <span class="button-text">Show filter options</span></button>
	$if data["is_filtered"]:
		<a class="btn btn-default" href="?" id="show-all" title="Remove all filters and show all generic signals."><i class="glyphicon glyphicon-refresh"></i> Show all</a>
		$if data["filters"]["name"]:
			<span class="toolbar-item"><b>filter names:</b> "$data["filters"]["name"]"</span>
		$if data["filters"]["data_source_ids"]:
			<span class="toolbar-item"><b>filter data sources:</b> $data["filters"]["ds_str"]</span>
</div>

<form class="form-inline" id="filter-form" style="display:none;">
	<fieldset>
		<table>
			<tr>
				<td><input type="checkbox" data-enables="name"
						checked
					/></td>
				<td>Name or Alias</td>
				<td><input name="name" id="name" type="search" placeholder="Type part of the generic signal name" size="50" value="$data["filters"]["name"]" class="form-control"/></td>
			</tr>
			<tr>
				<td><input type="checkbox" data-enables="data-source"
					$if data["filters"]["data_source_ids"]:
						checked
					/></td>
				<td>Data Source</td>
				<td>
					<select multiple name="data_source" id="data-source" class="form-control">
					$for source in data["data_sources"]:
						<option value="$source["data_source_id"]"
							$if source["data_source_id"] in data["filters"]["data_source_ids"]:
								selected
						>$source["name"]</option>
					</select>
				</td>
			</tr>

			<tr style="display:none">
				<td><input type="checkbox" name="attached"/></td>
				<td>Only attached</td>
				<td></td>
			</tr>

			<tr>
				<td><input type="checkbox" name="details"
					if $data["details"]:
						checked
					/></td>
				<td>Show details</td>
				<td></td>
			</tr>
		</table>

		<div class="btn-toolbar">
			<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search icon-white"></i> Apply filter</button>
		</div>
	</fieldset>
</form>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Data Source</th>
			<th>Alias</th>
			$if data["details"]:
				<th>Computer</th>
				<th>Board</th>
				<th>Channel</th>
			<th>ID</th>
		</tr>	
	</thead>		

	<tbody>
	$for generic_signal in data["generic_signals"]:
		<tr>
			<td>$:link(generic_signal["generic_signal_name"], "/generic_signals/%s" % generic_signal["generic_signal_id"])</td>
			<td><a href="$:make_url("/data_sources/%s" % generic_signal["data_source_name"])">$generic_signal["data_source_name"]</a></td>
			<td>$generic_signal["alias"]</td>
			$if data["details"]:
				$if generic_signal["computer_name"]:
					<td>$:link(generic_signal["computer_name"], "/hardware/%s" % generic_signal["computer_name"])</td>
				$else:
					<td></td>
				<td>$generic_signal["board_id"]</td>
				<td>
				$if generic_signal["computer_name"]:
					<a href="$:make_url("/hardware/%s/%d/%d" % ( generic_signal["computer_name"], generic_signal["board_id"], generic_signal["channel_id"] ))">$generic_signal["channel_id"]</a>
				$else:

				</td>
			<td>$generic_signal["generic_signal_id"]</td>
		</tr>
	</tbody>
</table>

<script src="$make_url("/static/js/index_generic_signal.js")"></script>
