$def with( data )

<h2>New Generic Signal</h2>

<div class="btn-toolbar">
	$:help_button()
</div>

<form name="main" method="post"> 
	<table>
		<tr>
			<td>
				<label for="generic_signal_name">Generic signal name:</label>
			</td>
			<td>
				<input id="generic_signal_name" type="text" name="generic_signal_name" size="31" class="form-control" required />
			</td>
		</tr>

		<tr>
			<td>
				<label for="alias">Alias:</label>
			</td>
			<td>
				<input id="alias" name="alias" size="31" type="text" class="form-control"/>
			</td>
		</tr>

		<tr>
			<td>
				<label for="data_source_id">Data Source:</label>
			</td>
			<td>
				<select name="data_source_id" id="data_source_id" required class="store-state form-control">
					$for source in data["data_sources"]:
						<option value="$source["data_source_id"]">$source["name"]</option>
				</select>
			</td>
		</tr>

		<tr>
			<td>
				<label for="units">Units:</label>
			</td>
			<td>
				<input name="units" id="units" type="text"  class="form-control" />
			</td>
		</tr>

		<tr>
			<td>
				<label for="description">Description:</label>
			</td>
			<td>
				<textarea name="description" id="description" cols="31" class="form-control"></textarea>
			</td>
		</tr>

		<tr>
			<td>
				<label for="signal_type">Signal type:</label>
			</td>
			<td>
				<select name="signal_type" id="signal_type"  class="form-control">
					<option selected>FILE</option>
					<option>LINEAR</option>
				</select>
			</td>
		</tr>

	</table>

	<h3>Axes</h3>

	<table>
		<tr>
			<td>
				<input type="checkbox" name="enable_time_axis" id="enable_time_axis" data-enables="time_axis_id,time_axis_units,time_axis_signal_type">
			</td>

			<td>
				<label for="time_axis_id" title="Sorted by number of channels using it and then in alphabetical order."> Time axis: </label>
			</td>

			<td>
				<select name="time_axis_id" id="time_axis_id" style="max-width: 200px" data-enables="time_axis_name,time_axis_units,time_axis_signal_type"  class="form-control">
					<option value="0">Create a new one</option>
					$for axis in data["time_axes"]:
						<option value="$axis["generic_signal_id"]">$axis["name"] (id=$axis["generic_signal_id"], $axis["signal_count"] signals)</option>
						
				</select>
			</td>

			<td>
				<label for="time_axis_name">Name: </label>
			</td>

			<td>
				<input name="time_axis_name" id="time_axis_name" data-appendname="_time_axis" type="text"  class="form-control"/>
			</td>

			<td>
				<label for="time_axis_units">Units: </label>
			</td>
			<td>
				<input name="time_axis_units" id="time_axis_units" type="text" class="form-control" value="ms" size="4" />
			</td>
			<td>
				<label for="time_axis_signal_type">Signal type:</label>
			</td>
			<td>
				<select name="time_axis_signal_type" id="time_axis_signal_type"  class="form-control">
					<option>FILE</option>
					<option selected>LINEAR</option>
				</select>
			</td>
		</tr>

		$for i in range(1, 7):
			<tr>
				<td>
					<input type="checkbox" name="enable_axis$i" id="enable_axis$i" data-enables="axis${i}_id,axis${i}_units,axis${i}_signal_type">
				</td>

				<td>
					<label for="axis${i}_id">Axis $i: </label>
				</td>

				<td>
					<select name="axis${i}_id" id="axis${i}_id" data-enables="axis${i}_name,axis${i}_units,axis${i}_signal_type" class="form-control">
						<option value="0">Create a new one</option>
						$for axis in data["axes"][i-1]:
							<option value="$axis["generic_signal_id"]">$axis["name"] (id=$axis["generic_signal_id"], $axis["signal_count"] signals)</option>							
					</select>
				</td>

				<td>
					<label for="axis${i}_name">Name: </label>
				</td>

				<td style="width: 400px">
					<input name="axis${i}_name" id="axis${i}_name" data-appendname="_axis${i}" type="text"  class="form-control" />
				</td>	

				<td>
					<label for="axis${i}_units">Units: </label>
				</td>
				<td>
					<input name="axis${i}_units" id="axis${i}_units" type="text" class="form-control" size="4"/>
				</td>
				<td>
					<label for="axis${i}_signal_type">Signal type:</label>
				</td>
				<td>
					<select name="axis${i}_signal_type" id="axis${i}_signal_type"  class="form-control">
						<option>FILE</option>
						<option selected>LINEAR</option>
					</select>
				</td>
			</tr>
	</table>

	<input type="submit" value="Create" class="btn btn-primary btn-lg"/>

	<div id="help" style="display:none">
		<h3>Important fields</h3>
		<dl>
			<dt>Generic signal name</dt>
			<dd>Each combination of generic signal name and data source is unique. Therefore, you can create two (or more) generic signals with the same name, but they have to belong to a different data source.
			</dd>

			<dt>Alias <i>(optional)</i></dt>
			<dd>Another (usually shorter) name for the generic signal. You don't have to set it, alias exists only for convenience (and can be used instead of generic signal name in different places). However, alias has to be unique.</dd>

			<dt>Data Source</dt>
			<dd>Usually, data source is the diagnostics (or computational method) that produces the signal. There is no fixed set
				of data sources, you can create a new one easily.</dd>

			<dt>Signal Type</dt>
			<dd>In most cases, this will be <b>FILE</b>, i.e. data stored in a file. It is also possible to select <b>LINEAR</b> which
				means that data will be represented as a linear function (useful for axes).</dd>
		</dl>
		<h3>Axes</h3>

		<p>You can specify a time axis and upto 6 other axes. By default, no axis is assigned. Check the checkboxes on the left
		   for axes that you want to assign. For each of them, you can:</p>

		<ul>
			<li>Create a new axis (which will be linear).</li>
			<li>Use an axis that was already used for another generic signal (the list is sorted by frequency).</li>
			<li><i>Currently, there is no way to create a new non-linear axis or select an axis that has not been used yet (please
				ask database administrators).</i></li>
		</ul>

		<p><b>Note:</b> It is important that you assign correct time axes at the moment of generic signal creation.
		It is possible to change time axis later but for other axes (usually spatial), this is not possible.</p>
	</div>
</form>

<script src="$make_url("/static/js/new_generic_signal.js")"></script>