$def with( generic_signal )

<h2>$generic_signal["generic_signal_name"]</h2>

<table class="table table-info table-bordered">
<tr><td>Data source</td> <td>$:link(generic_signal.data_source["name"], "/data_sources/%s" % generic_signal.data_source["name"])</td></tr>
<tr><td>Generic signal ID</td> <td>$generic_signal["generic_signal_id"]</td></tr>
<tr><td>Alias</td> <td>$generic_signal["alias"]</td></tr>
<tr><td>Units</td> <td>$generic_signal["units"]</td></tr>
$for axis_name in generic_signal.axes:
	<tr>
		<td>$axis_name ID</td>
		<td>$:link(generic_signal.axes[axis_name]["generic_signal_name"], "/generic_signals/%s" % generic_signal.axes[axis_name]["generic_signal_id"])</td>
	</tr>
<tr><td>Signal type</td><td>$generic_signal["signal_type"]</td></tr>
<tr><td>Description</td><td>$generic_signal["description"]</td></tr>
</table>


$if generic_signal["signal_type"] == "FILE":
	<h3>Channel Attachment &amp; Setup</h3>
	$if generic_signal.attachment:
		$if not generic_signal.attachment["is_attached"]:
			<p class="alert alert-info">This is the default generic signal for the hardware channel.</p>
		<div class="btn-toolbar">
			$if generic_signal.attachment["is_attached"]:
				$ form_action = make_url( "/generic_signals/%s/detach" % generic_signal["generic_signal_id"])
				<form id="detach-form" method="POST" action="$form_action" style="display:inline; margin-right: 5px">
					<button type="submit" class="btn btn-danger confirm" data-confirm="Do you really want to detach channel?"><i class="glyphicon glyphicon-remove icon-white"></i> Detach</button>
				</form>
			<button type="button" id="change-button" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> Change calibration</button>
		</div>

		$ form_action = make_url( "/generic_signals/%s/update_calibration" % generic_signal["generic_signal_id"])
		<form method="POST" id="update-form" action="$form_action">
			<table class="table table-info table-bordered">
				<tr><td>Computer</td><td>$:link(generic_signal.computer_name, "/hardware/%s" % generic_signal.computer_name)</td></tr>
				<tr><td>Board</td><td>$generic_signal.attachment["board_id"]</td></tr>
				<tr><td>Channel</td><td>$:link(generic_signal.attachment["channel_id"], "/hardware/%s/%d/%d" % ( generic_signal.computer_name, generic_signal.attachment["board_id"], generic_signal.attachment["channel_id"] ))</td></tr>
				<tr><td>Coefficient levels->volts</td><td><span class="to-input" id="coefficient_lev2V">$generic_signal.attachment["coefficient_lev2V"]</span></td></tr>
				<tr><td>Offset</td><td><span class="to-input" id="offset">$generic_signal.attachment["offset"]</span></td></tr>
				<tr><td>Coefficient volts->units</td><td><span class="to-input" id="coefficient_V2unit">$generic_signal.attachment["coefficient_V2unit"]</span></td></tr>
			</table>

			<button type="submit" class="btn btn-primary btn-lg" id="update-button" style="display:none"><i class="glyphicon glyphicon-ok icon-white"></i> Save</button>
		</form>

	$else:
		<p class="alert alert-info">Generic signal is not attached to any channel.</p>
		<a href="$make_url("/generic_signals/%d/attach" % generic_signal.generic_signal_id)" id="attach-button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Attach</a>
		$ form_action = make_url( "/generic_signals/%s/attach" % generic_signal.generic_signal_id)

	<h3>Attachment &amp; Calibration History</h3>

	$if len(generic_signal.attachment_history):
		<p class="alert alert-info">Periods when generic signal was not attached, are not taken into account.</p>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Time</th>
					<th>Min. Record</th>
					<th>Computer</th>
					<th>Board</th>
					<th>Channel</th>
					<th>Coefficient levels->volts</th>
					<th>Offset</th>
					<th>Coefficient volts->units</th>
					<th>Time axis</th>
				</tr>
			</thead>
				$for attachment in generic_signal.attachment_history:
					<tr>
						<td>$attachment["attach_time"]</td>
						<td>$attachment["min_record"]</td>
						<td>$:link(attachment["computer_name"], "/hardware/%s" % attachment["computer_name"])</td>
						<td>$attachment["board_id"]</td>
						<td>$:link(attachment["channel_id"], "/hardware/%s/%d/%d" % ( attachment["computer_name"], attachment["board_id"], attachment["channel_id"] ))</td>
						<td>$attachment["coefficient_lev2V"]</td>
						<td>$attachment["offset"]</td>
						<td>$attachment["coefficient_V2unit"]</td>
						<td>
							$if attachment["time_axis_id"]:
								<a href="$:make_url("/generic_signals/%d" % attachment["time_axis_id"])">$attachment["time_axis_name"]</a>
							$else:
								None
						</td>
					</tr>
			<tbody>
			</tbody>
		</table>
	$else:
		<p class="alert alert-info">There is no attachment history for this generic signal.</p>

<h3>Parameters</h3>
<div class="btn-toolbar">
	<a class="btn btn-info" href="$:make_url("/generic_signals/%d/edit_parameters" % generic_signal.generic_signal_id)">$:icon("pencil") Edit Parameters</a>
</div>
$if not generic_signal.parameters:
	<p class="alert alert-info">There are no defined parameters.</p>
$else:
	<pre>$generic_signal.parameters</pre>

$if generic_signal.as_axis:
	<h3>Dependent generic signals</h3>
	$for axis in generic_signal.as_axis:
		This signal serves as <b>$axis</b> for the following generic signals:
		<table class="table table-bordered">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Alias</th>
			</tr>
		$for gs in generic_signal.as_axis[axis]:
			<tr>
				<td>$gs["generic_signal_id"]</td>
				<td>$:link(gs["generic_signal_name"], "/generic_signals/%s" % gs["generic_signal_id"])</td>
				<td>$gs["alias"]</td>
			</tr>
		</table>

<h3>Data</h3>
$if len(generic_signal.signals) == 0:
	<p class="alert alert-info">There are no data yet.</p>
$for signal in generic_signal.signals:
	$:link(signal["record_number"], "/data_signals/%s/%s" % (generic_signal["generic_signal_id"], signal["record_number"]), _class="btn btn-default", style="margin: 2px 0")

<script src="$make_url("/static/js/show_generic_signal.js")"></script>