$def with( computers )

<h2>Data acquisition systems (computers)</h2>
In this part you can inspect (or modify) attachment of generic signals to individual data acquisition (DAQ) systems. Typically you only need this if you know what you are doing.

<table class="table table-bordered">
	<tr>
		<th>Name</th>
		<th>ID</th>
		<th>Firesignal node</th>
		<th>Channel count</th>
	</tr>
	$for computer in computers:
		<tr>
			<td>$:link( computer["computer_name"], "/hardware/" + computer["computer_name"])</td>
			<td>$computer["computer_id"]</td>
			<td>$computer["fs_node"]</td>
			<td>$computer["channel_count"]</td>
		</tr>
</table>