$def with( computer )

<h2>DAQ computer <b>$computer["computer_name"]</b></h2>

<table class="table table-info table-bordered">
	<tr><td>Computer id</td><td> $computer["computer_id"]</td></tr>
	<tr><td>Firesignal node name</td><td> $computer["nodeuniqueid"] </td></tr>
	<tr><td>Total number of channels</td><td> $computer["channel_count"] </td></tr>
</table>


$for board_id in computer["boards"]:
	<div class="board">
		<h3>Board $board_id <span style="font-size: 0.7em" ><input type="checkbox" checked class="store-state board-check" id="check-$computer["computer_id"]-$board_id"/>Show details</span></h3>
		<table class="channel-table table table-bordered" id="table-$computer["computer_id"]-$board_id">
		<tr>
		<th>#</th>
		<th>FS id</th>
		<th>Attached Generic Signal</th>
		<th>Lev->volts</th>
		<th>Offset</th>
		<th>Volts->units</th>
		</tr>
		$for channel in computer["boards"][board_id]:
			$if channel["is_attached"]:
				<tr class="attached success">
			$else:
				<tr class="detached error">
			<td class="channel-id">$:link(channel["channel_id"], "/hardware/%s/%s/%s" % (computer["computer_name"], board_id, channel["channel_id"]), title="Show channel page")</td>
			<td>$:(channel["hardwareuniqueid"] + "/" + channel["parameteruniqueid"])</td>
			
			<td>$:link(channel["generic_signal_name"], "/generic_signals/%d" % channel["generic_signal_id"])</td>
			<td>$channel["lev2V"]</td>
			<td>$channel["offset"]</td>
			<td>$channel["v2unit"]</td>
			</tr>
		</table>
	</div>

<script src="$make_url("/static/js/computers_show.js")"></script>
	