<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-heading">What's New</div>
		<div class="panel-body">
			<h4>22th Oct 2019</h4>
			<ul>
				<li>WebCDB is now compatible with Python3.</li>
				<li>Description of functionality was added to many places.</li>
			</ul>

			<h4>28th Aug 2018</h4>
			<ul>
				<li>Enable download of both processed and raw data in HDF5.</li>
			</ul>

			<h4>20th Jan 2014</h4>
			<ul>
				<li>Editable parameters for generic signals &amp; DAQ channels.</li>
			</ul>

			<h4>16th Dec 2013</h4>
			<ul>
				<li>Simple 2D plots (see e.g. <a href="$:make_url("/data_signals/2818/6355")">EFIT - triangularity lower</a>).</li>
				<li>Group signals from a shot by hardware or data sources.</li>
			</ul>

			<!-- <h4>28th Nov 2013</h4>
			<ul>
				<li>The list of shot is now displayed in calendar mode.</li>
			</ul> -->

			<!-- <h4>25th Nov 2013</h4>
			<ul>
				<li>You can now download data signals in the form of self-contained HDF5 files.
					These can be easily used for offline analysis.</li>
			</ul>

			<h4>2nd Oct 2013</h4>
			<ul>
				<li>It is now possible to specify time axis when attaching signal.</li>
			</ul>

			<h4>19th Sep 2013</h4>
			<ul>
				<li>If you have channel data that you want to belong to other generic signal than the one connected at the time of storage (or if you want
					to retrospectively change calibration), you can now visit the page of the channel and click on <b>Change attachment in history</b>. <em>Please, report any problems with this feature as database relations are very complex and a bug might have occured.</em></li>
			</ul>

			<h4>29th Aug 2013</h4>
			<ul>
				<li>If generic signal serves as a time (or other) axis, list of generic signals that depend on it is shown. See e.g. <a href="$:make_url("/generic_signals/1")">ATCA time axis</a>.</li>
				<li>"What's new" panel introduced (nice example of self-reference ;-)</li>
			</ul>
			-->
		</div>
	</div>
</div>