$def with( context )

<h1 style="color:#88b">WebCDB</h1>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">Welcome to WebCDB</div>
			<div class="panel-body">
				<p>This is an interface to <b>Compass Database (CDB)</b>,
				see <a href="$:intranet_url("wiki.tok.ipp.cas.cz/mediawiki/index.php/Compass_Data_Base_(CDB)")">Wiki</a> for technical details.</p>
				<ul>
					<li><a href="$:make_url("/generic_signals")">Generic Signals</a> lists all existing signals in a single table</li>
					<li><a href="$:make_url("/data_sources")">Data Sources</a> lists all existing signals sorted in categories </li>
					<li><a href="$:make_url("/records")">Records</a> allows to view only the signals collected in a given shot (record)</li>
					<li><a href="$:make_url("/hardware")">Hardware channgels</a> allows to inspect (or modify) attachment of individiual signals to data acquisition (DAQ) systems</li> 
				</ul>
				<p>More information about individual shots can be viewed in <a href="$:intranet_url("logbook.tok.ipp.cas.cz")">Logbook</a>.</p>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">Jump to signals collected in:</div>
			<div class="panel-body">
				<form class="form-inline" style="display: inline-block; margin-left: 5px">
					<label style="vertical-align: middle">Last shot:</label>
					<a style="font-size:133%; display: inline-block;" href="$:make_url("/records/%d" % context["record_number"])">$context["record_number"]</a> ($:pretty_ago(context["record_date"]))
				</form>
				<p><form class="form-inline" id="go-to" data-template="$:make_url("/records/{}")" style="display: inline-block; margin-left: 5px">
					<label style="vertical-align: middle">Go to record:</label>
					<span style="max-width: 100px; display: inline-block;">
						<input style="margin-left: 5px" type="text" title="Enter the shot number" class="input-mini form-control" id="shot" value=""/>
					</span>
					<button type="submit" id="go" style="margin-left: 5px;"  class="btn btn-primary">Go</button>
				</form></p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	$:render_partial("_news")
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Don't hesitate to report bugs / feature requests using <a href="$:intranet_url("redmine.tok.ipp.cas.cz/projects/webcdb")">redmine</a>.</p>	
			</div>
		</div>
	</div>
</div>

<script src="$make_url("/static/js/shots.js")"></script>
