$def with( channel )

<h2>$channel["computer_name"] / board $channel["board_id"] / channel $channel["channel_id"] - Edit Previous Attachment</h2>

<div class="col-sm-6">
	<p class="alert alert-danger">
		This is a dangerous step! Please check only the fields that you want to overwrite; keep in mind that
		the form gives you great power and that you only are responsible for checking the sanity of inputs.<br/><br/>
		<b>The implementation is experimental, so please check after operation that everything went OK.</b>
	</p>

	<form method="POST" role="form">
		<div class="form-group">
			<label for="first">First record (inclusive)</label>
			<input name="first" id="first" type="text" class="form-control" required pattern="^\d+$$"/>
		</div>

		<div class="form-group">
			<label for="last">Last record (inclusive)</label>
			<input name="last" id="last" type="text" class="form-control" required pattern="^\d+$$"/>
		</div>

		<div class="form-group">
			<label style="display:block;"><input type="checkbox" data-enables="select-gs-button"> Generic signal</label>
			<span id="generic_signal" style="margin-right: 10px">None selected.</span><button type="button" id="select-gs-button" class="btn btn-primary btn-sm">Select</button>
			<input type="hidden" name="generic_signal_id" id="generic_signal_id"/>
		</div>
		
		<div class="form-group">
			<label for="coefficient-lev2V"><input type="checkbox" data-enables="coefficient-lev2V"> Coefficient lev->volts</label>
			<input name="coefficient_lev2V" id="coefficient-lev2V" type="text" class="form-control" value="$channel.current_attachment['coefficient_lev2V']"/>
		</div>
		
		<div class="form-group">
			<label for="offset"><input type="checkbox" data-enables="offset"> Offset</label>
			<input name="offset" id="offset" type="text" class="form-control" value="$channel.current_attachment['offset']"/>
		</div>
		
		<div class="form-group">
			<label for="coefficient-V2unit"><input type="checkbox" data-enables="coefficient-V2unit"> Coefficient volts->units</label>
			<input name="coefficient_V2unit" id="coefficient-V2unit" type="text" class="form-control" value="$channel.current_attachment['coefficient_V2unit']"/>
		</div>

		<div class="form-group">
			<label for="note">Note</label>
			<textarea name="note" id="note" rows="2" class="form-control"></textarea>
		</div>

		<button type="submit" class="btn btn-primary btn-lg confirm">Update</button>
	</form>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title">Select generic signal</h4>
	        </div>

	        <div class="modal-body" id="gs-modal-body">
	        	<div class="loading alert alert-info" style="display:none">Loading the generic signal list. Please wait...</div>
	        </div>

	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	          <button type="button" class="btn btn-primary">OK</button>
	        </div>
	      </div>
	    </div>
  	</div>
</div>

<script src="$make_url("/static/js/generic_signals.js")"></script>
<script src="$make_url("/static/js/edit_history_channels.js")"></script>