$def with( context )
$ channel = context.channel
$ current_attachment = channel.current_attachment

<h2>$:link(channel.computer_name, "/hardware/%s" % channel.computer_name) / board $channel.board_id / channel $channel.channel_id</h2>

<h3>Firesignal Identification</h3>
<table class="table table-info table-bordered">
	<tr><td>Node ID</td><td>$channel.nodeuniqueid</td></tr>
	<tr><td>Hardware ID</td><td>$channel.hardwareuniqueid</td></tr>
	<tr><td>Parameter ID</td><td>$channel.parameteruniqueid</td></tr>
</table>

<h3>Parameters</h3>
<div class="btn-toolbar">
	<a class="btn btn-info" href="$:make_url("/hardware/%s/%s/%s/edit_parameters" % ( channel.computer_name, channel.board_id, channel.channel_id))">$:icon("pencil") Edit Parameters</a>
</div>

$if not current_attachment.parameters:
	<p class="alert alert-info">There are no defined parameters.</p>
$else:
	<pre>$current_attachment.parameters</pre>

<h3>Attachment &amp; Calibration History</h3>

<div class="btn-toolbar">
	<a class="btn btn-info" href="$:make_url("/hardware/%s/%s/%s/edit_history" % ( channel.computer_name, channel.board_id, channel.channel_id))">$:icon("pencil") Change attachment in history</a>
</div>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Time</th>
			<th>Min. Record</th>
			<th>Generic Signal</th>
			<th>Coefficient<br/>levels->volts</th>
			<th>Offset</th>
			<th>Coefficient<br/>volts->units</th>
			<th>Parameters</th>
		</tr>
	</thead>
	<tbody>
		$for attachment in channel.attachment_history:
			<tr>
				<td>$attachment.attach_time</td>
				<td>$attachment.min_record</td>
				<td>$:link(attachment.generic_signal_name, "/generic_signals/%d" % attachment.generic_signal_id)</td>
				<td>$attachment.coefficient_lev2V</td>
				<td>$attachment.offset</td>
				<td>$attachment.coefficient_V2unit</td>
				<td>
					$if attachment.parameters:
						<a title="Click to show" href="#" data-json="$attachment.parameters">Show</a>
					$else:
						None
				</td>
			</tr>
	</tbody>
</table>

<h3>Data</h3>
$if len(channel.signals) == 0:
	<p class="alert alert-info">There are no data yet.</p>
$for signal in channel.signals:
	$:link(signal.record_number, "/data_signals/%s/%s" % (signal.generic_signal_id, signal.record_number), _class="btn btn-default", style="margin: 2px 0")

<script src="$make_url("/static/js/show_channels.js")"></script>